<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/manageUser.css}" />
    <script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<header th:replace="common/navbar :: header"></header>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">用户管理</div>
    <div class="panel-body">
        <p>用户列表</p>
    </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td>工号(用户名)</td>
            <td>姓名</td>
            <td>部门</td>
            <td>角色</td>
            <td>修改</td>
            <td>删除</td>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.username}">未确认</td>
            <td th:text="${user.name}">未确认</td>
            <td th:text="${user.department}">未确认</td>
            <td>
                <ul >
                    <li th:each="role: ${user.roles}">
                        <span th:text="${role.name}"></span>
                    </li>
                </ul>
            </td>
            <td><a th:href="@{/authority/changeUserPage(username=${user.username})}">修改</a></td>
            <td><a th:href="@{/authority/deleteUser(username=${user.username})}">删除</a></td>
        </tr>
    </table>
</div>
<div>
    <a class="btn btn-danger add_btn" th:href="@{/authority/addUser}">+</a>
</div>

</body>
</html>