<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" integrity="sha256-9w7XtQnqRDvThmsQHfLmXdDbGasYsSjF6FSXrDh7F6g=" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/bootstrap/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/node_modules/bootstrap-year-calendar/css/bootstrap-year-calendar.css}" />
    <script th:src="@{/node_modules/jquery/dist/jquery.js}"></script>
    <script th:src="@{/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/node_modules/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:src="@{/Bootstrap/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/node_modules/bootstrap-year-calendar/js/bootstrap-year-calendar.js}"></script>
    <script th:src="@{/js/calendar.js}"></script>
<script th:inline="javascript" async>
    function onload() {
        let data = [[${allDates}]];
        init(data);
    }
</script>
</head>

<body onload="onload()">
<header th:replace="common/navbar :: header"></header>

<div class="container">

    <form class="form-horizontal" th:action="@{/authority/editUser}" method="post" >
        <fieldset>
            <div id="legend" class="">
                <div id="calendar"> </div>

                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" />
                </div>


            </div>
        </fieldset>
    </form>
</div>

<script>

    $('.input-daterange').datepicker({
        format: "mm/dd/yyyy",
        todayBtn: true,
        language: "zh-CN",
        daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true
    });

</script>
</body>

</html>
