<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Account Management</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/manageUser.css}" />
    <script th:src="@{/Bootstrap/bootstrap/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/roles.js}"></script>
</head>
<body>
<header th:replace="common/navbar :: header"></header>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">角色管理</div>
    <div class="panel-body">
        <p>角色列表</p>
    </div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td>角色名</td>
            <td>角色所有权限</td>
            <td>修改</td>
            <td>删除</td>
        </tr>
        <tr th:each="role: ${roles}">
            <td th:text="${role.name}">未确认</td>
            <td>
                <ul th:attr="id='role-'+${role.id}">

                </ul>
            </td>
            <td><a th:href="@{/role/getUserInfoByName(username=${role.id})}">修改</a></td>
            <td><a th:href="@{/role/deleteUser(username=${role.id})}">删除</a></td>
        </tr>
    </table>
</div>
<div>
    <a class="btn btn-danger add_btn" th:href="@{/roles/addRole}">+</a>
</div>

</body>
</html>