<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.management.dao.CalendarMapper">

    <resultMap id="officeDateMap" type="com.practice.management.domain.OfficeDate">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="on_date" jdbcType="DATE" property="date" />
        <result column="start_time" jdbcType="TIME" property="startTime" />
        <result column="end_time" jdbcType="TIME" property="endTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>

    <select id="selectAllOfficeDates" resultMap="officeDateMap">
        SELECT
            *
        FROM office_time_calendar
    </select>

    <select id="getOfficeDateByDate" resultMap="officeDateMap">
        SELECT
            *
        FROM office_time_calendar
        WHERE on_date = #{onDate}
    </select>


    <insert id="createOfficeDate" parameterType="com.practice.management.domain.OfficeDate">
    	insert into office_time_calendar(on_date, start_time, end_time, status)
    	values(#{officeDate.date,jdbcType=DATE},#{officeDate.startTime,jdbcType=TIME},#{officeDate.endTime,jdbcType=TIME},
    		#{officeDate.status,jdbcType=TINYINT})
    </insert>

    <update id="updateOfficeDateById" parameterType="com.practice.management.domain.OfficeDate">
        UPDATE office_time_calendar
        SET  status = #{officeDate.status}, on_date = #{officeDate.date},
             start_time = #{officeDate.startTime}, end_time = #{officeDate.endTime}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>
