<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.management.dao.SysUserMapper">


    <select id="getByUserName" parameterType="String" resultType="com.practice.management.domain.SysUser">
        SELECT *
        FROM sys_user
        WHERE username=#{username};
    </select>

    <select id="getById" parameterType="Integer" resultType="com.practice.management.domain.SysUser">
        SELECT * FROM sys_user WHERE id=#{id};
    </select>

    <select id="getAll" resultType="com.practice.management.domain.SysUser">
        SELECT * FROM sys_user;
    </select>

    <update id="updateUser" parameterType="com.practice.management.domain.SysUser">
        UPDATE sys_user u
        SET  u.name = #{name} AND u.department = #{department} AND u.department = #{department} AND u.password = #{password}
        WHERE u.id = #{id}
    </update>

    <insert id="createUser" parameterType="com.practice.management.domain.SysUser">
    	insert into sys_user(id,username,password,name,department)
    	values(#{id,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
    		#{department,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteById" parameterType="Integer">
        delete sys_user, sys_role_user from sys_user, sys_role_user
        where sys_user.id = #{id} and sys_role_user.id = #{id}
    </delete>

    <insert id="addRoleToUser" parameterType="Integer">
    	insert into sys_role_user(user_id, role_id)
    	values(#{rid,jdbcType=INTEGER},#{uid,jdbcType=INTEGER})
    </insert>

    <delete id="removeRoleFromUser" parameterType="Integer">
        delete sys_role_user from sys_role_user
        where role_id = #{rid} and user_id = #{id}
    </delete>

</mapper>
